.error__wrapper,
.validating__wrapper,
.empty__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.error__content,
.validating__content,
.empty__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--infoDark-color);
}

.error__content h5,
.error__content h1 {
    font-weight: var(--font-medium);
}

.validating__content {
    cursor: auto;
}

.summary .empty__content .image {
    max-width: 60px;
    margin-bottom: 1rem;
}

.notification .empty__content {
    cursor: auto;
}

.notification .empty__content .image {
    max-width: 150px;
    margin-bottom: 1rem;
}

.summary,
.notification {
    height: 225px;
    background: var(--white-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
    transition: all var(--transition-default) ease;
}

.summary small {
    display: block;
    margin-top: 1.5rem;
    color: var(--infoDark-color);
}

.summary__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    padding: .5rem;
    border-radius: 50%;
    color: var(--white-color);
    font-size: 2rem;
}

.summary__icon.skeleton {
    padding: 0;
    border: none;
    color: var(--white-color);
    font-size: 2rem;
}

.summary__data {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
}

.summary__title {
    margin: 1rem 0 .6rem;
    font-size: 1rem;
}

.summary__progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.summary__progress.skeleton {
    border: none;
}

.summary__progress.skeleton span {
    position: relative;
    top: 0;
    left: 0;
}

.summary__progress svg {
    transform: rotate(-90deg);
    width: 7.5rem;
    height: 7.5rem;
}

.summary__progress_circle {
    transition: all 2.5s ease-in-out;
    fill: none;
    stroke-width: 12;
    stroke-linecap: round;
}

.summary__progress span {
    position: absolute;
    top: 49%;
    left: 45%;
}

.notification {
    position: relative;
    overflow: hidden;
    height: 340px;
    padding: 1.25rem;
}

.notification__inner {
    height: 302.5px;
    overflow: auto;
}

.notification__inner::-webkit-scrollbar {
    visibility: hidden;
    width: .30rem;
    border-radius: .25rem;
}

.notification__inner::-webkit-scrollbar-thumb {
    border-radius: .25rem;
    visibility: hidden;
}

.notification__inner::-webkit-scrollbar-thumb:hover {
    border-radius: .25rem;
    visibility: hidden;
}

.notification__post {
    display: grid;
    grid-template-rows: 1.25rem auto;
    gap: .25rem;
    cursor: pointer;
    padding: .75rem;
    margin: .35rem;
    border-radius: .5rem;
}

.notification__post.skeleton {
    cursor: auto;
}

.notification__main {
    display: flex;
    line-height: 1;
    align-items: center;
    gap: .5rem;
}

.notification__details {
    color: var(--darkVariant-color);
    text-align: justify;
}

.notification small {
    color: var(--infoDark-color);
}

@media (hover: hover) and (pointer: fine) {
    .summary:hover,
    .notification:hover {
        box-shadow: none;
    }

    .notification__post:not(.skeleton):hover {
        background: var(--accordion-bg-color);
    }

    .notification:hover .notification__inner::-webkit-scrollbar {
        visibility: visible;
    }
    
    .notification:hover .notification__inner::-webkit-scrollbar-thumb {
        visibility: visible;
    }
    
    .notification:hover .notification__inner::-webkit-scrollbar-thumb:hover {
        visibility: visible;
    }
}

@media screen and (max-width: 360px) {
    .notification {
        height: 375px;
    }
}