.error__wrapper,
.validating__wrapper,
.empty__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.error__content,
.validating__content,
.empty__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--infoDark-color);
}

.error__content h5,
.error__content h1,
.error__content h2 {
    font-weight: var(--font-medium);
}

.validating__content {
    cursor: auto;
}

.history .error__content {
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: .5rem;
}

.history .error__content h2 {
    margin-bottom: 0;
}

.summary .empty__content .image {
    max-width: 60px;
    margin-bottom: 1rem;
}

.notification .empty__content {
    cursor: auto;
}

.notification .empty__content .image {
    max-width: 150px;
    margin-bottom: 1rem;
}

.summary,
.notification {
    height: 225px;
    background: var(--white-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
    transition: all var(--transition-default) ease;
}

.summary.skeleton {
    box-shadow: none;
}

.summary small {
    display: block;
    margin-top: 1.5rem;
    color: var(--infoDark-color);
}

.summary__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    padding: .5rem;
    border-radius: 50%;
    color: var(--white-color);
    font-size: 2rem;
}

.summary__icon.skeleton {
    padding: 0;
    border: none;
    color: var(--white-color);
    font-size: 2rem;
}

.summary__data {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    color: var(--dark-color);
}

.summary__title {
    margin: 1rem 0 .6rem;
    font-size: 1rem;
}

.summary__progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.summary__progress.skeleton {
    border: none;
}

.summary__progress.skeleton span {
    position: relative;
    top: 0;
    left: 0;
}

.summary__progress svg {
    transform: rotate(-90deg);
    width: 7.5rem;
    height: 7.5rem;
}

.summary__progress_circle {
    transition: all 2.5s ease-in-out;
    fill: none;
    stroke-width: 12;
    stroke-linecap: round;
}

.summary__progress span {
    position: absolute;
    top: 49%;
    left: 45%;
}

.notification {
    position: relative;
    overflow: hidden;
    height: 340px;
    padding: 1.25rem;
}

.notification.skeleton {
    box-shadow: none;
}

.notification__inner {
    height: 302.5px;
    overflow: auto;
}

.notification__inner::-webkit-scrollbar {
    visibility: hidden;
    width: .30rem;
    border-radius: .25rem;
}

.notification__inner::-webkit-scrollbar-thumb {
    border-radius: .25rem;
    visibility: hidden;
}

.notification__inner::-webkit-scrollbar-thumb:hover {
    border-radius: .25rem;
    visibility: hidden;
}

.notification__post {
    display: grid;
    grid-template-rows: 1.25rem auto;
    gap: .25rem;
    cursor: pointer;
    padding: .75rem;
    margin: .35rem;
    border-radius: .5rem;
}

.notification__post.skeleton {
    cursor: auto;
}

.notification__main {
    display: flex;
    line-height: 1;
    align-items: center;
    gap: .5rem;
}

.notification__details {
    color: var(--darkVariant-color);
    text-align: justify;
}

.notification small {
    color: var(--infoDark-color);
}

.history {
    position: relative;
    height: 80px;
    background: var(--white-color);
    margin-bottom: 1.25rem;
    padding: 1.4rem var(--card-padding);
    border-radius: 1.2rem;
    box-shadow: var(--box-shadow);
    transition: all var(--transition-default) ease;
}

.history.skeleton {
    box-shadow: none;
}

.history__tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    border-radius: 1.2rem;
    background: var(--lighter-color);
    backdrop-filter: blur(1px);
    transition: all var(--transition-default) ease;
}

.history__tooltip .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--logo-second-color);
    padding: .5rem;
    background: var(--body-color);
    border-radius: 1.2rem;
    transition: all var(--transition-default) ease;
}

.history__tooltip .wrapper i {
    display: flex;
    cursor: pointer;
    padding: .6rem;
    background: transparent;
    border-radius: 50%;
}

.history small {
    color: var(--infoDark-color);
}

.history__content {
    display: grid;
    grid-template-columns: 40px auto 40px;
    gap: 1rem;
    color: var(--dark-color);
    transition: all var(--transition-default) ease;
}

.history__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: .6rem;
    color: var(--white-color);
    border-radius: 50%;
    background: var(--primary-color);
}

.history__icon.skeleton {
    padding: 0;
    border: none;
    color: initial;
    background: transparent;
}

.history__icon.tambah {
    background: var(--primary-color);
}

.history__icon.hapus {
    background: var(--danger-color);
}

.history__icon.ubah {
    background: var(--success-color);
}

.history__details {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto 0;
}

.history__value {
    margin: auto;
    text-align: center;
}

.history.tambah {
    height: 67.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--logo-second-color);
    background: transparent;
    border: 2px dashed var(--logo-second-color);
    transition: all var(--transition-default) ease;
}

.history.tambah.skeleton {
    cursor: auto;
    color: initial;
    border: 2px dashed var(--skeleton-base);
    box-shadow: none;
}

.history.tambah .content {
    display: flex;
    align-items: center;
    min-height: 24px;
    gap: .6rem;
}

@media (hover: hover) and (pointer: fine) {

    .summary:not(.skeleton):hover,
    .notification:not(.skeleton):hover,
    .history:not(.skeleton):hover {
        box-shadow: none;
    }

    .notification__post:not(.skeleton):hover {
        background: var(--accordion-bg-color);
    }

    .notification:hover .notification__inner::-webkit-scrollbar {
        visibility: visible;
    }

    .notification:hover .notification__inner::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    .notification:hover .notification__inner::-webkit-scrollbar-thumb:hover {
        visibility: visible;
    }

    .history__tooltip .wrapper i:hover {
        background: var(--accordion-bg-color);
    }

    .history:hover .history__tooltip {
        opacity: 1;
        visibility: visible;
    }

    .history.tambah:not(.skeleton):hover {
        color: var(--white-color);
        background: var(--logo-second-color);
    }
}

@media screen and (max-width: 360px) {}