.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    overflow: hidden;
    z-index: var(--z-default);
}

.container:before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: var(--users-big-circle);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 2s ease-in-out;
}

.forms_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin_signup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s .75s ease-in-out;
}

.signin_signup form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: .2s .7s ease-in-out;
}

.signin_signup form.sign_in_form {
    z-index: 2;
}

.signin_signup form.sign_up_form {
    z-index: 1;
    opacity: 0;
}

.title {
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--m-0-5);
    color: var(--dark-color);
}

.input_field {
    max-width: 400px;
    width: 100%;
    height: 55px;
    background-color: var(--light-color);
    margin: var(--m-0-5) 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    transition: box-shadow .25s ease-in-out;
}

.input_field.password {
    grid-template-columns: 1fr calc(70% - 25px) 25px 1fr;
}

.input_field i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--infoDark-color);
    transition: .25s ease-in-out;
}

.input_field i.validator {
    color: var(--primary-color);
}

.input_field i.validator span {
    display: flex;
    cursor: pointer;
}

.input_field i.validator.validating {
    color: var(--logo-second-color);
}

.input_field i.validator.valid {
    color: var(--success-color);
}

.input_field i.validator.valid.ok {
    color: var(--warning-color);
}

.input_field i.validator.valid.weak {
    color: var(--danger-color);
}

.input_field i.validator.invalid {
    color: crimson;
}

.input_field input {
    padding: 0 .25rem;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    color: var(--dark-color);
    font-weight: var(--font-semi-bold);
}

.input_field:focus-within i.validator span svg {
    animation: rotate 2.5s linear 0s infinite normal;
}

.input_field i.eye span {
    display: flex;
    cursor: pointer;
}

@keyframes blobAnimation {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 20% 80% 90% 30% / 40% 90% 20% 80%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.input_field:focus-within {
    box-shadow: var(--users-box-shadow);
}

.input_field:focus-within i:not(.validator):not(.eye) {
    color: var(--logo-second-color);
}

.input_field input::placeholder {
    color: var(--infoDark-color);
    font-weight: var(--font-medium);
}

.btn {
    width: 130px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--users-btn-alt);
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
    margin: var(--m-0-5) 0;
    transition: .25s ease-in-out;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid;
    width: 100px;
    height: 40px;
    font-weight: var(--font-semi-bold);
    font-size: var(--smaller-font-size);
}

.sign_in_form .social_text a,
.sign_up_form .social_text a {
    cursor: pointer
}

.social_text {
    margin: 1rem 0;
    font-size: var(--small-font-size);
    color: var(--dark-color);
    text-align: center;
    line-height: 2;
}

.social_text a {
    font-weight: var(--font-semi-bold);
}

.social_media {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.social_icon {
    height: 45px;
    width: 45px;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    margin: 0 .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: var(--h3-font-size);
    border-radius: 50%;
    transition: all .5s;
}

.social_icon.whatsapp {
    color: var(--whatsapp-color);
    border-color: var(--whatsapp-color);
}

.panels_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left_panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right_panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: 1s 0.7s ease-in-out;
}

.panel h3 {
    color: #fff;
    font-weight: var(--font-semi-bold);
    line-height: 1;
    font-size: var(--h2-font-size);
}

.panel p {
    color: #fff;
    font-size: var(--small-font-size);
    padding: .7rem 0;
}

.image {
    width: 100%;
    transition: 1.2s 0.4s ease-in-out;
}

.right_panel .content,
.right_panel .image {
    transform: translateX(800px);
}

.container.sign_up_mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign_up_mode .left_panel .image,
.container.sign_up_mode .left_panel .content {
    transform: translateX(-800px);
}

.container.sign_up_mode .right_panel .content,
.container.sign_up_mode .right_panel .image {
    transform: translateX(0px);
}

.container.sign_up_mode .left_panel {
    pointer-events: none;
}

.container.sign_up_mode .right_panel {
    pointer-events: all;
}

.container.sign_up_mode .signin_signup {
    left: 25%;
}

.container.sign_up_mode form.sign_in_form {
    z-index: 1;
    opacity: 0;
}

.container.sign_up_mode form.sign_up_form {
    z-index: 2;
    opacity: 1;
}

.container.sign_up_mode .theme_toggle {
    left: 8%;
}

.theme_toggle {
    position: absolute;
    z-index: 5;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--dark-color);
    background: var(--white-color);
    box-shadow: var(--users-box-shadow-lighter);
    border-radius: .5rem;
    top: 90%;
    left: 92%;
    transition:
        left .95s .95s ease-in-out,
        box-shadow var(--transition-default) ease-in-out,
        color var(--transition-default) ease-in-out;
}

.keterangan_icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (hover: hover) and (pointer: fine) {
    .btn:hover {
        background-color: var(--users-btn-hov);
    }

    .social_icon:hover {
        color: #fff;
        background: var(--primary-color);
        transform: rotate(360deg) scale(1.1);
    }

    .social_icon.whatsapp:hover {
        background-color: var(--whatsapp-color);
    }

    .theme_toggle:hover {
        box-shadow: none;
        color: var(--logo-second-color);
    }
}

@media screen and (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }

    .container:before {
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .signin_signup {
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .panels_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    .panel h3 {
        font-size: var(--h3-font-size);
    }

    .panel p {
        font-size: var(--smaller-font-size);
        padding: .5rem 0;
    }

    .panel .content {
        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out;
    }

    .image {
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }

    .left_panel {
        grid-row: 1 / 2;
    }

    .right_panel {
        grid-row: 3 / 4;
    }

    .right_panel .content,
    .right_panel .image {
        transform: translateY(300px);
    }

    .container.sign_up_mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .container.sign_up_mode .left_panel .image,
    .container.sign_up_mode .left_panel .content {
        transform: translateY(-300px);
    }

    .container.sign_up_mode .signin_signup {
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }

    .container.sign_up_mode .theme_toggle {
        top: 60%;
        left: 5%;
    }

    .theme_toggle {
        top: 35%;
        left: 5%;
        transition:
            top .95s .95s ease-in-out,
            box-shadow var(--transition-default) ease-in-out,
            color var(--transition-default) ease-in-out;
    }
}

@media screen and (max-width: 400px) {
    .keterangan_icon {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 570px) {
    .signin_signup form {
        padding: 0 2rem;
    }

    .signin_signup form.sign_in_form {
        padding-bottom: 1.5rem;
    }

    .signin_signup form.sign_up_form {
        padding-top: 1.5rem;
    }

    .image {
        display: none;
    }

    .panel .content {
        padding: .5rem 1rem;
    }

    .container:before {
        bottom: 72%;
        left: 50%;
    }

    .container.sign_up_mode:before {
        bottom: 28%;
        left: 50%;
    }

    .container.sign_up_mode .theme_toggle {
        top: 65%;
        left: 6%;
    }

    .theme_toggle {
        top: 30%;
        left: 6%;
        transition:
            top .95s .95s ease-in-out,
            box-shadow var(--transition-default) ease-in-out,
            color var(--transition-default) ease-in-out;
    }
}

@media screen and (min-width: 1440px) {
    .container:before {
        width: 2400px;
        height: 2400px;
        right: 44%;
    }

    .image {
        max-width: 600px;
    }

    .right_panel .content,
    .right_panel .image {
        transform: translateX(1600px);
    }

    .container.sign_up_mode .left_panel .image,
    .container.sign_up_mode .left_panel .content {
        transform: translateX(-1600px);
    }

    .input_field {
        max-width: 450px;
        height: 60px;
    }

    .btn {
        width: 150px;
        height: 50px;
    }

    .btn.transparent {
        width: 120px;
        height: 45px;
    }

    .social_icon {
        height: 55px;
        width: 55px;
        margin: 0 .5rem;
    }

    .theme_toggle {
        width: 40px;
        height: 40px;
        border-radius: .5rem;
        transition:
            left .8s 1.1s ease-in-out,
            box-shadow var(--transition-default) ease-in-out,
            color var(--transition-default) ease-in-out;
    }

    .signin_signup {
        transition: 1s .9s ease-in-out;
    }

    .signin_signup form {
        transition: .2s .85s ease-in-out;
    }

    .panel .content {
        transition: 1s 0.85s ease-in-out;
    }

    .image {
        transition: 1.2s 0.55s ease-in-out;
    }
}