.dashboard {
    top: 0;
    position: fixed;
    padding: .75rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    z-index: calc(var(--z-fixed) + 1);
    background: var(--white-color);
    transition: var(--transition-default) ease-in-out;
}

.dashboard.hide {
    top: -100%;
}

.dashboard__nav,
.dashboard__logo, 
.dashboard__toolkit {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dashboard__logo img {
    width: 48px;
}

@media screen and (min-width: 768px) {
    .dashboard {
        background: var(--body-color);
    }
}