.wrapper {
    display: grid;
    margin-top: calc(var(--header-height) + .75rem);
    margin-bottom: 2rem;
    padding: 0 .75rem;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.wrapper.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin-top: var(--header-height);
    margin-bottom: 0;
    height: calc(100vh - var(--header-height));
}

.wrapper.error h2 {
    color: var(--dark-color);
    margin-bottom: 0.25rem;
}

.wrapper.error img {
    max-width: 125px;
}

.wrapper.error p {
    text-align: justify;
}

.wrapper.error span {
    cursor: pointer;
    color: var(--dark-color);
}

.wrapper__title {
    color: var(--dark-color);
}

.insight {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}

.secondary h2 {
    margin-top: 1rem;
}

.history {
    margin-top: 2rem;
}

.history h2 {
    margin-bottom: 1rem;
}

@media screen and (min-width: 320px) {
    .wrapper {
        padding: 0 1.5rem;
    }
}

@media screen and (min-width: 480px) {
    .wrapper.error img {
        max-width: 150px;
    }

    .wrapper.error p {
        text-align: center;
    }

    .wrapper.error .text {
        max-width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        padding: 0;
        grid-template-columns: auto 23rem;
        gap: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    .insight {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
        height: max-content;
    }
}