.container {
    --base-padding: 16px;
    --section-margin-bottom: 10rem;
    --section-height: calc(100vh - (2 * var(--base-padding)));
    --default-fontsize: 1rem;
    --title-fontsize: 2rem;
    --description-fontsize: .85rem;
    --action-fontsize: 1.1rem;
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    padding: var(--base-padding);
    font-size: var(--default-fontsize);
}

.section {
    margin-bottom: var(--section-margin-bottom);
}

.title {
    font-size: var(--title-fontsize);
    font-weight: 600;
}

.description {
    font-size: var(--description-fontsize);
    color: var(--infoDark-color);
}

.action {
    font-size: var(--action-fontsize);
    color: var(--logo-second-color);
}

/* #region Section 'Features' */

.features {
    display: grid;
    grid-template-rows: 50px 10% 100px 1fr;
    height: var(--section-height);
}

.features .title {
    margin-bottom: 10px;
}

.features .description {
    margin-bottom: 20px;
}

.features .nav {
    margin-bottom: 20px;
}

.features .content {
    border: 1px solid blue;
}

.features .cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 250px 250px 250px;
    gap: 2.5rem;
    height: 100%;
}

/* #endregion Section 'Features' */

/* #region Section 'Universitas' */

.universitas {
    --section-height: 400px;
    --inner-padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: var(--section-height);
    overflow: hidden;
}

.universitas .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--inner-padding);
}

.universitas .title {
    margin-bottom: 0.5rem;
}

.universitas .description {
    margin-bottom: 1rem;
}

.universitas .content {
    --icon-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: var(--inner-padding);
}

.universitas .content .icons:nth-child(1) {
    margin-top: 90px;
}

.universitas .content .icons:nth-child(3) {
    margin-top: 45px;
}

.universitas .content .icons:nth-child(5) {
    margin-bottom: 90px;
}

.universitas .content .icons .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    padding: .5rem;
    margin-bottom: 1rem;
    background: var(--white-color);
    box-shadow: 0 0.5rem 0.75rem var(--light-color);
    border-radius: 1rem;
    transition: box-shadow var(--transition-default) ease-in-out;
}

.universitas .content .icons .icon:hover {
    box-shadow: none;
}

/* #endregion Section 'Universitas' */

/* #region Section 'Cara Pakai' */

.cara_pakai {
    --inner-padding: 3rem;
    --subtitle-fontsize: 1.7rem;
    --action-fontsize: 1.1rem;
    height: var(--section-height);
    padding: var(--inner-padding);
    overflow: hidden;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.cara_pakai>.title {
    text-align: center;
    margin-bottom: 2rem;
}

.cara_pakai .content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cara_pakai .content .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: var(--z-tooltip);
}

.cara_pakai .content.active_1 {
    grid-template-columns: 70% 1fr 1fr;
}

.cara_pakai .content.active_2 {
    grid-template-columns: 1fr 70% 1fr;
}

.cara_pakai .content.active_3 {
    grid-template-columns: 1fr 1fr 70%;
}

.cara_pakai .content .wrapper {
    display: grid;
    grid-template-rows: 75% 1fr;
    gap: 1rem;
}

.cara_pakai .content .box {
    position: relative;
    overflow: hidden;
    background-color: var(--logo-second-color);
    border-radius: 2rem;
}

.cara_pakai .content .box.x {
    background-color: var(--secondInverse-shade-1);
}

.cara_pakai .content .box.x .inner {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 375px 1fr;
    gap: 1rem;
    padding: 2rem;
    border-radius: inherit;
    perspective: 1000px;
}

.cara_pakai .content .box.x .inner .matkul,
.cara_pakai .content .box.x .inner .matkul_anim,
.cara_pakai .content .box.x .inner .progress_anim {
    border-radius: inherit;
}

.cara_pakai .content .box.x .inner .matkul_anim {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 1;
}

.cara_pakai .content .box.x .inner .progress_anim {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: bottom right;
}

.cara_pakai .content .box.x .inner .progress_anim>div {
    z-index: 2;
    width: 100%;
    max-width: 325px;
}

.cara_pakai .content .box.y {
    background-color: var(--secondInverse-shade-2);
}

.cara_pakai .content .box.z {
    background-color: var(--secondInverse-shade-3);
}

.cara_pakai .content .box.z .inner {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: inherit;
}

.cara_pakai .content .box.z .inner>div {
    width: 100%;
}

.cara_pakai .content .box.z .inner>div:nth-child(1),
.cara_pakai .content .box.z .inner>div:nth-child(3) {
    max-width: 225px;
}

.cara_pakai .content .box.z .inner>div:nth-child(2) {
    max-width: 250px;
}

.cara_pakai .content .details {
    display: grid;
    grid-template-columns: max-content auto;
    gap: .75rem;
    padding: .5rem;
    overflow: hidden;
}

.cara_pakai .content .progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: var(--action-fontsize);
    font-weight: 500;
    color: var(--dark-color);
    background-color: var(--white-color);
    border: 1px solid var(--lighter-color);
    border-radius: .5rem;
}

.cara_pakai .content .progress.active {
    border: 2px solid var(--dark-color);
}

.cara_pakai .content .box.x~.details .progress.active {
    border: 2px solid var(--secondInverse-shade-1);
}

.cara_pakai .content .box.y~.details .progress.active {
    border: 2px solid var(--secondInverse-shade-2);
}

.cara_pakai .content .box.z~.details .progress.active {
    border: 2px solid var(--secondInverse-shade-3);
}

.cara_pakai .content .text {
    width: 450px;
}

.cara_pakai .content .title {
    font-size: var(--subtitle-fontsize);
    white-space: nowrap;
    margin-bottom: 0;
}

.cara_pakai .content .description {
    text-align: justify;
}

/* #endregion */

/* #region Section 'Fitur' */

.fitur {
    --section-height: 600px;
    --inner-padding: 2rem 2rem 4rem 2rem;
    --logo-size: 128px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--inner-padding);
}

.fitur>.title {
    overflow: hidden;
    width: 100%;
    display: flex;
    padding: 1rem 0;
}

.fitur .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.fitur .content .card_wrapper {
    perspective: 1000px;
}

.fitur .content .card {
    position: relative;
    display: grid;
    grid-template-rows: 65% 1fr;
    border-radius: 1rem;
    height: 450px;
    border: 1px solid var(--box-borderColor);
    background-color: var(--box-color-bg3);
    overflow: hidden;
}

.fitur .content .card .card_main {
    position: relative;
    background-image: linear-gradient(var(--box-gridColor) .1em, transparent .1em), linear-gradient(90deg, var(--box-gridColor) .1em, transparent .1em);
    background-size: 3em 3em;
}

.fitur .content .card .card_main.sebaran_nilai,
.fitur .content .card .card_main.grafik_progress,
.fitur .content .card .card_main.bar_progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitur .content .card .card_main.sebaran_nilai>div,
.fitur .content .card .card_main.grafik_progress>div,
.fitur .content .card .card_main.bar_progress>div {
    border-radius: 1rem;
    box-shadow: var(--box-boxContent-boxShadow);
    background: var(--box-boxContent-bg);
    transition: none;
}

.fitur .content .card .card_main.sebaran_nilai>div,
.fitur .content .card .card_main.grafik_progress>div,
.fitur .content .card .card_main.bar_progress>div {
    width: 300px;
    height: 225px;
}

.fitur .content .card .card_main.sebaran_nilai>div span,
.fitur .content .card .card_main.sebaran_nilai>div text,
.fitur .content .card .card_main.grafik_progress>div span,
.fitur .content .card .card_main.grafik_progress>div tspan,
.fitur .content .card .card_main.bar_progress>div>div:nth-child(2) h3 {
    font-size: 0.85rem;
}

.fitur .content .card .card_main.bar_progress>div>div:nth-child(2) small {
    font-size: 0.69rem;
}

.fitur .content .card .card_secondary {
    --title-fontsize: 1.2rem;
    --description-fontsize: var(--default-fontsize);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
}

.fitur .content .card .card_secondary .description {
    color: var(--footer4-linkColor);
}

/* #endregion */

/* #region Section 'Mulai Sekarang' */

.mulai_sekarang {
    --section-height: 500px;
    --inner-padding: 2rem;
    --logo-size: 128px;
    height: var(--section-height);
    padding: var(--inner-padding);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mulai_sekarang .logo,
.mulai_sekarang .title {
    margin-bottom: .5rem;
}

.mulai_sekarang .logo {
    position: relative;
    width: var(--logo-size);
    height: var(--logo-size);
}

.mulai_sekarang .logo img {
    filter: drop-shadow(5px 10px 5px var(--logo-drop-shadow));
}

.mulai_sekarang .description {
    overflow: hidden;
}

.mulai_sekarang .title {
    font-size: calc(2 * var(--title-fontsize));
}

.mulai_sekarang .title .word {
    display: inline-flex;
}

.mulai_sekarang .title .word {
    margin-right: .5rem;
}

.mulai_sekarang .title .word:last-child {
    margin-right: 0;
}

.mulai_sekarang .description {
    width: 400px;
    font-size: var(--action-fontsize);
    text-align: center;
    margin-bottom: 2rem;
}

.mulai_sekarang .description span {
    display: inline-block;
}

.mulai_sekarang .description span .word {
    margin: 0 .15rem .15rem 0;
}

.mulai_sekarang .description mark>span>span {
    margin: 0 .15rem .15rem 0;
}

.mulai_sekarang .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    width: 275px;
    height: 40px;
}

.mulai_sekarang .buttons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: var(--white-color);
    font-size: var(--description-fontsize);
    border-radius: 1.1rem;
    cursor: pointer;
}

.mulai_sekarang .buttons .btn.main {
    background-color: var(--logo-second-color);
    color: var(--white-color);
}

.mulai_sekarang .buttons .btn.main:hover {
    background-color: var(--logo-second-color-lighter);
}

.mulai_sekarang .buttons .btn.secondary {
    background-color: var(--accordion-bg-color);
}

.mulai_sekarang .buttons .btn.secondary:hover {
    border: 2px solid var(--lighter-color);
}

/* #endregion Section 'Mulai Sekarang' */

/* #region Footer */

.footer_outter {
    --default-fontsize: 1rem;
    --title-fontsize: 2rem;
    --small-fontsize: .85rem;
    --action-fontsize: 1.1rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    overflow: hidden;
    font-size: var(--default-fontsize);
    background-color: var(--root-footer-bgColor);
    color: var(--root-footer-textColor);
}

.footer_wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer {
    padding: 2.5rem 0;
}

.footer .primary a {
    color: var(--root-footer-textColor);
}

.footer .primary a:hover {
    color: var(--root-footer-hoverColor);
}

.footer .primary,
.footer .secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .primary {
    position: relative;
    padding: 1.25rem 0;
    margin: 1rem 1.5rem 0 1.5rem;
}

.footer .line {
    --line-height: 1px;
    width: calc(100% - (2 * 1.5rem));
    height: var(--line-height);
    margin: 0 auto;
    background-color: var(--root-footer-lineColor);
}

.footer .brand {
    --brand-size: 60px;
    width: var(--brand-size);
    height: var(--brand-size);
    font-size: var(--title-fontsize);
}

.footer .shorcut {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: calc(100% - 200px - (2 * 4rem));
    gap: 3.5rem;
}

.footer .shorcut span {
    display: block;
    cursor: pointer;
}

.footer .socials {
    --box-size: 32.5px;
    display: flex;
    gap: 0.75rem;
}

.footer .socials .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--box-size);
    height: var(--box-size);
    padding: 0.5rem;
}

.footer .socials .box:hover {
    color: var(--root-footer-hoverColor);
}

.footer .secondary {
    --default-color: #9BA3B3;
    margin: 1.25rem 1.5rem 2.25rem 1.5rem;
    padding: 0.75rem 0;
    font-size: var(--small-fontsize);
    color: var(--default-color);
}

.footer .sublinks {
    display: flex;
    gap: 2rem;
}

.footer .secondary a {
    color: var(--default-color);
}

.footer .secondary a:hover {
    color: var(--root-footer-textColor);
}

/* #endregion */

@media (hover: hover) and (pointer: fine) {}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}