:root {

    --header-height: 4rem;
    --aside-width: 10rem;

    /* === MAIN COLOR === */
    --first-color: #FF6341;
    --first-color-lighter: hsl(11, 100%, 60%);
    --second-color: #1d3263;
    /* === END OF MAIN COLOR === */

    /* === UTILS COLOR === */
    --primary-color: #7380ec;
    --danger-color: #ff7782;
    --success-color: #41f1b6;
    --warning-color: #ffbb55;
    --infoDark-color: #7d8da1;
    --infoLight-color: #dce1eb;
    --body-color: #f6f6f9;
    --white-color: #fff;
    --alwaysWhite-color: #ffffff;
    --dark-color: #363949;
    --darkVariant-color: #677483;
    --light-color: rgba(132, 139, 200, 0.2);
    --scroll-bar-color: hsl(222, 12%, 90%);
    --scroll-thumb-color: hsl(222, 12%, 80%);
    /* === END OF UTILS COLOR === */

    /* === BORDER-RADIUS === */
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    /* === END OF BORDER-RADIUS === */

    /* === PADDING === */
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    /*  === END OF PADDING === */

    /* === MARGIN === */
    --m-0-25: .25rem;
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-25: 1.25rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --m-3: 3rem;
    /*  === END OF MARGIN === */

    /* === FONT-WEIGHT === */
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
    /*  === END OF FONT-WEIGHT === */

    /* === Z-INDEX === */
    --z-default: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    /*  === END OF Z-INDEX === */

    /* === BOX-SHADOW === */
    --box-shadow: 0 2rem 3rem var(--light-color);
    /* === END OF BOX-SHADOW === */

    /* === TRANSITION === */
    --transition-default: .3s;
    /* === END OF TRANSITION === */
}

.dark-theme {
    /* === MAIN COLOR === */
    --first-color-lighter: hsl(11, 100%, 65%);
    /* === END OF MAIN COLOR === */

    /* === UTILS COLOR === */
    --body-color: #181a1e;
    --white-color: #202528;
    --dark-color: #edeffd;
    --darkVariant-color: #a3bdcc;
    --light-color: rgba(0, 0, 0, 0.4);
    --scroll-bar-color: #677483;
    --scroll-thumb-color: rgba(0, 0, 0, 0.5);
    /* === END OF UTILS COLOR === */

    /* === BOX-SHADOW === */
    --box-shadow: 0 2rem 3rem var(--light-color);
    /* === END OF BOX-SHADOW === */

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: .8rem;
    font-family: var(--poppins-font);
    background: var(--body-color);
    color: var(--dark-color);
    user-select: none;
    overflow-x: hidden;
}

a {
    color: var(--dark-color);
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(11, 8%, 40%);
    ;
    border-radius: .5rem;
}