.container {
    --container-width: 100vw;
    position: relative;
    width: var(--container-width);
    height: 100%;
    font-size: var(--root-default-fontsize);
}

.container_wrap {
    width: var(--container-width);
    margin: 0 auto;
}

.container,
.container_wrap {
    min-width: 320px;
    padding: 0 var(--root-base-padding);
}

.center_overflow {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.section {
    margin-bottom: var(--root-section-margin-bottom);
    border-bottom: 1px solid var(--root-section-lineColor);
}

.section:last-child {
    border-bottom: none;
}

@keyframes bounceUpRight {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(0, 0);
    }

    40% {
        transform: translate(.25rem, -.25rem);
    }

    60% {
        transform: translate(.1rem, -.1rem);
    }
}

@keyframes bounceRight {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(.25rem);
    }

    60% {
        transform: translateX(.1rem);
    }
}

@keyframes bounceDown {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(.25rem);
    }

    60% {
        transform: translateY(.1rem);
    }
}

@keyframes bounceUp {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-.25rem);
    }

    60% {
        transform: translateY(-.1rem);
    }
}

/* Match to h1 element */
.title_big {
    font-size: calc(2.5 * var(--root-title-fontsize));
    font-weight: 700;
}

.title_big_description {
    font-size: calc(var(--root-description-fontsize) * 1.525);
    font-weight: 400;
}

.title_big_cta {
    font-size: calc(var(--root-description-fontsize) * 1.325);
    font-weight: 500;
}

/* Match to h2 element */
.title {
    font-size: calc(var(--root-title-fontsize) * 1.75);
    font-weight: 600;
}

.title_description {
    font-size: calc(var(--root-description-fontsize) * 1.375);
    font-weight: 400;
}

.title_cta {
    font-size: calc(var(--root-description-fontsize) * 1.275);
    font-weight: 500;
}

/* Match to h3 element */
.title_small {
    font-size: calc(var(--root-title-fontsize) * 0.85);
    font-weight: 500;
}

.title_small_description {
    font-size: calc(var(--root-description-fontsize) * 1.2);
    font-weight: 400;
}

.title_small_cta {
    font-size: calc(var(--root-description-fontsize) * 1.075);
    font-weight: 500;
}

.title_big_description,
.title_description,
.title_small_description {
    color: var(--footer4-linkColor);
}

.title_big,
.title,
.title_small {
    line-height: 1;
}

/* #region Header */

.header_outter {
    width: 100%;
    height: var(--root-header-height);
    position: sticky;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 0;
    /* Should we need this ? */
    /* overflow: hidden; */
    z-index: var(--z-fixed);
}

.header {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: var(--root-default-fontsize);
    color: var(--root-header-textColor);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar .nav {
    --logo-size: 40px;
    --theme-size: 30px;
    --hamburger-size: 24px;
    --hamburger-color: var(--dark-color);
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid var(--root-header-borderColor);
    background-color: var(--root-navbar-bgColor);
    backdrop-filter: blur(5px) saturate(50%);
    /* Should we need this ? */
    /* overflow: hidden; */
}

.navbar .nav .overlay {
    position: absolute;
    padding: 1rem 1rem 2rem 1rem;
    background-color: var(--root-navbar-bgColorStrong);
    box-shadow: .25rem 1.25rem 1.25rem var(--light-color);
    left: 0;
    right: 0;
    top: 100%;
    transform-origin: top;
}

.navbar .nav .overlay .layout {
    max-height: calc(100vh - 2.75rem - var(--root-header-height));
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar .nav .overlay .layout::-webkit-scrollbar {
    width: .3rem;
}

.navbar .nav .overlay .layout .inner {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 0.75rem;
}

.navbar .nav .overlay a {
    width: max-content;
}

.navbar .nav .overlay .logo {
    margin-left: 0.5rem;
}

.navbar .nav .overlay .logo,
.navbar .nav .overlay a.cta {
    display: none;
}

.navbar .nav .wrap {
    display: flex;
    gap: 1.25rem;
}

.navbar .nav .wrap.left {
    gap: 1.75rem;
}

.navbar .nav .wrap.right {
    gap: 1rem;
}

.navbar .nav .hamburger {
    align-self: center;
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    cursor: pointer;
    color: var(--hamburger-color);
    background-color: transparent;
}

.navbar .nav .hamburger.active .hamburger_inner,
.navbar .nav .hamburger.active .hamburger_inner::before,
.navbar .nav .hamburger.active .hamburger_inner::after {
    background-color: var(--hamburger-color);
}

.navbar .nav .hamburger_box {
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    position: relative;
}

.navbar .nav .hamburger_inner {
    display: block;
    top: 50%;
}

.navbar .nav .hamburger_inner,
.navbar .nav .hamburger_inner::before,
.navbar .nav .hamburger_inner::after {
    width: var(--hamburger-size);
    height: 2px;
    background-color: var(--hamburger-color);
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.navbar .nav .hamburger_inner::before,
.navbar .nav .hamburger_inner::after {
    content: "";
    display: block;
}

.navbar .nav .hamburger .hamburger_inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navbar .nav .hamburger .hamburger_inner::before {
    top: 7.6px;
    transition: opacity 0.125s 0.275s ease;
}

.navbar .nav .hamburger .hamburger_inner::after {
    top: 15px;
    transition: transform var(--transition-default) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navbar .nav .hamburger.active .hamburger_inner {
    transform: translate3d(0, 7.6px, 0) rotate(135deg);
    transition-delay: 0.075s;
}

.navbar .nav .hamburger.active .hamburger_inner::before {
    transition-delay: 0s;
    opacity: 0;
}

.navbar .nav .hamburger.active .hamburger_inner::after {
    transform: translate3d(0, -15px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}

.navbar .nav a {
    display: block;
    padding: 0.5rem;
    border-radius: inherit;
    cursor: pointer;
}

.navbar .nav a.link {
    color: var(--root-navbar-lightTextColor);
}

.navbar .nav a.link svg.external {
    font-size: calc(0.85 * 1em);
}

.navbar .nav .logo {
    cursor: pointer;
    width: var(--logo-size);
    height: var(--logo-size);
}

.navbar .nav a.cta {
    position: relative;
    appearance: none;
    z-index: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.375rem 0.75rem;
    border-radius: inherit;
    border: 1px solid var(--root-header-borderColor);
    background-color: transparent;
    color: var(--root-header-textColor);
    font-weight: 500;
    cursor: pointer;
}

.navbar .nav a.cta::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -10;
    transform: translateY(200%) scale(2.5);
    border-radius: 50%;
    background-color: var(--logo-second-color);
    transition: transform 750ms ease-in-out;
}

.navbar .nav .theme svg {
    width: calc(var(--theme-size) / 2);
    height: calc(var(--theme-size) / 2);
}

.navbar .nav .theme {
    overflow: hidden;
    width: var(--theme-size);
    height: var(--theme-size);
    color: var(--logo-second-color);
    cursor: pointer;
}

.navbar .nav .theme .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--theme-size);
    width: var(--theme-size);
}

/* #endregion */

/* #region Hero */

.hero {
    --title-maxWidth: 735px;
    height: 100%;
    padding-top: calc(var(--root-header-height) + 1rem);
    margin-bottom: 0;
    border: none;
}

.hero .container_wrap {
    padding: 0 calc(var(--root-base-padding) + 1rem);
}

.hero .banner {
    margin-bottom: 1.5rem;
}

.hero .banner .icon {
    display: flex;
    align-items: inherit;
    justify-content: center;
    color: var(--alwaysWhite-color);
    background-color: var(--users-btn-alt);
    border-radius: inherit;
    padding: 0.3rem 0.5rem;
    font-size: calc(0.9 * 1em);
}

.hero .title {
    max-width: var(--title-maxWidth);
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.35rem;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero .title_description {
    max-width: calc(var(--title-maxWidth) * 0.75);
    margin-bottom: 1rem;
    text-align: justify;
}

.hero .buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.hero .buttons .icon {
    display: flex;
    align-items: inherit;
    justify-content: center;
    font-size: calc(0.9 * 1em);
}

.hero .mockup_container {
    --mockup-width: 1296px;
    --mockup-height: 942px;
    position: relative;
    width: 100%;
    height: var(--mockup-height);
    z-index: 1;
    user-select: none;
    pointer-events: none;
    font-size: 0.8rem;
}

.hero .mockup_container::before {
    content: "";
    display: block;
    background: red;
    margin-top: -140px;
}

.hero .mockup_container * {
    cursor: auto;
}

.hero .mockup_container::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(to bottom, transparent 50%, var(--body-color) 100%);
    opacity: 0;
    animation: fadeIn 3s forwards ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero .mockup_perspective {
    position: relative;
    contain: strict;
    width: 100%;
    height: 100%;
    perspective: 4000px;
    perspective-origin: 100% 0;
    transform-style: preserve-3d;
}

.hero .mockup_3d {
    position: absolute;
    inset: 0;
    width: var(--mockup-width);
    height: var(--mockup-height);
    margin: 225px auto auto;
    border-radius: 10px;
    border: 2.5px solid var(--root-header-borderColor);
    background-image: var(--root-hero-mockupBgColor);
    transform: scale(1.15) rotateX(47deg) rotateY(30deg) rotate(325deg);
    transform-origin: top left;
    backface-visibility: hidden;
}

/* #endregion */

/* #region Section 'Universitas' */

.universitas {
    --inner-padding: 2rem;
    --icon-size: 70px;
    --scrolling-icon-size: 30px;
    padding: var(--root-header-height) 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border: none;
}

.universitas>.container_wrap {
    display: flex;
    flex: 1;
}

.universitas .layout {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.universitas .text {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: var(--inner-padding);
    perspective: 500px;
    z-index: 2;
}

.universitas .title {
    margin-bottom: 0.25rem;
}

.universitas .title_description {
    margin-bottom: 2rem;
    text-align: justify;
}

.universitas .title_cta {
    display: flex;
    gap: 1rem;
    color: var(--dark-color);
}

.universitas .arrow_right_icon,
.universitas .signup_icon {
    font-size: calc(0.9 * 1em);
}

.universitas .content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: var(--inner-padding);
    perspective: 500px;
    z-index: 1;
}

.universitas .content .icons {
    transform-style: preserve-3d;
}

.universitas .content .icons .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    padding: 1rem;
    margin-bottom: 1rem;
    background: var(--white-color);
    box-shadow: 0 0.5rem 0.75rem var(--light-color);
    border-radius: 1rem;
    transition: box-shadow var(--transition-default) ease-in-out;
    cursor: pointer;
}

.universitas .content .icons .icon.active {
    cursor: auto;
    border: 1px solid var(--logo-second-color);
    box-shadow: none;
}

.universitas .content .icons .icon.active[data-univshort="ub"] {
    border: 1px solid var(--textColor-ub);
}

.universitas .content .icons .icon.active[data-univshort="undip"] {
    border: 1px solid var(--textColor-undip);
}

.universitas .content .icons .icon.active[data-univshort="ui"] {
    border: 1px solid var(--textColor-ui);
}

.universitas .content .icons .icon.active[data-univshort="itb"] {
    border: 1px solid var(--textColor-itb);
}

.universitas .content .icons .icon.active[data-univshort="unair"] {
    border: 1px solid var(--textColor-unair);
}

.universitas .content .icons .icon.active[data-univshort="ipb"] {
    border: 1px solid var(--textColor-ipb);
}

.universitas .content .icons .icon.active[data-univshort="its"] {
    border: 1px solid var(--textColor-its);
}

.universitas .content .icons .icon.active[data-univshort="telkom"] {
    border: 1px solid var(--textColor-telkom);
}

.universitas .content .icons .icon.active[data-univshort="unpad"] {
    border: 1px solid var(--textColor-unpad);
}

.universitas .content .icons .icon.active[data-univshort="unsoed"] {
    border: 1px solid var(--textColor-unsoed);
}

.universitas .scrolling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    overflow: hidden;
}

.universitas .scrolling .items {
    position: relative;
    height: 60px;
    border-top: 2.75px solid var(--root-section-lineColor);
    border-bottom: 2.75px solid var(--root-section-lineColor);
}

.universitas .scrolling .items:first-child {
    border-bottom: none;
}

.universitas .scrolling .item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.universitas .scrolling .item.active .title_small {
    color: var(--logo-second-color);
}

.universitas .scrolling .item.active[data-univshort="ub"] .title_small {
    color: var(--textColor-ub);
}

.universitas .scrolling .item.active[data-univshort="undip"] .title_small {
    color: var(--textColor-undip);
}

.universitas .scrolling .item.active[data-univshort="ui"] .title_small {
    color: var(--textColor-ui);
}

.universitas .scrolling .item.active[data-univshort="itb"] .title_small {
    color: var(--textColor-itb);
}

.universitas .scrolling .item.active[data-univshort="unair"] .title_small {
    color: var(--textColor-unair);
}

.universitas .scrolling .item.active[data-univshort="ipb"] .title_small {
    color: var(--textColor-ipb);
}

.universitas .scrolling .item.active[data-univshort="its"] .title_small {
    color: var(--textColor-its);
}

.universitas .scrolling .item.active[data-univshort="telkom"] .title_small {
    color: var(--textColor-telkom);
}

.universitas .scrolling .item.active[data-univshort="unpad"] .title_small {
    color: var(--textColor-unpad);
}

.universitas .scrolling .item.active[data-univshort="unsoed"] .title_small {
    color: var(--textColor-unsoed);
}

.universitas .scrolling .item .logo {
    width: var(--scrolling-icon-size);
    height: var(--scrolling-icon-size);
}

.universitas .scrolling .item .title_small {
    text-transform: uppercase;
    white-space: nowrap;
    font-size: calc(var(--root-title-fontsize) * 0.6);
}

/* #endregion Section 'Universitas' */

/* #region Section 'Cara Pakai' */

.kenapa_sipk {
    --inner-padding: calc(var(--root-header-height) + 1rem) 0;
    --subtitle-fontsize: 1.7rem;
    --root-action-fontsize: 1.1rem;
    --root-section-height: calc(100vh - (2 * var(--root-base-padding)));
    height: var(--root-section-height);
    padding: var(--inner-padding);
    overflow: hidden;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.kenapa_sipk .title {
    text-align: center;
    margin-bottom: 2rem;
}

.kenapa_sipk .content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.kenapa_sipk .content .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: var(--z-tooltip);
}

.kenapa_sipk .content.active_1 {
    grid-template-columns: 80% 1fr 1fr;
}

.kenapa_sipk .content.active_2 {
    grid-template-columns: 1fr 80% 1fr;
}

.kenapa_sipk .content.active_3 {
    grid-template-columns: 1fr 1fr 80%;
}

.kenapa_sipk .content .wrapper {
    display: grid;
    grid-template-rows: minmax(325px, 1fr) 135px;
    gap: 1rem;
    cursor: pointer;
}

.kenapa_sipk .content .wrapper.without_action {
    cursor: auto;
}

.kenapa_sipk .content.active_1 .wrapper:nth-child(1) {
    cursor: auto;
}

.kenapa_sipk .content.active_2 .wrapper:nth-child(2) {
    cursor: auto;
}

.kenapa_sipk .content.active_3 .wrapper:nth-child(3) {
    cursor: auto;
}

.kenapa_sipk .content .box {
    position: relative;
    overflow: hidden;
    background-color: var(--logo-second-color);
    border-radius: 2rem;
}

.kenapa_sipk .content .box.x {
    background-color: var(--secondInverse-shade-1);
}

.kenapa_sipk .content .box.x .inner {
    /* ONLY USE 'rem' based value */
    --matkul-card-gap: 0.75rem;
    /* ONLY USE 'px' based value */
    --matkul-card-height: 80px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 2rem;
    padding: 2rem;
    border-radius: inherit;
    perspective: 1000px;
}

.kenapa_sipk .content .box.x .inner .matkul,
.kenapa_sipk .content .box.x .inner .matkul_anim,
.kenapa_sipk .content .box.x .inner .progress_anim {
    border-radius: inherit;
}

.kenapa_sipk .content .box.x .inner .matkul {
    position: relative;
}

.kenapa_sipk .content .box.x .inner .matkul .cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.kenapa_sipk .content .box.x .inner .matkul_anim {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--matkul-card-gap);
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.kenapa_sipk .content .box.x .inner .matkul_anim>div {
    height: var(--matkul-card-height);
}

.kenapa_sipk .content .box.x .inner .progress_anim {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform-origin: bottom right;
}

.kenapa_sipk .content .box.x .inner .progress_anim>div {
    z-index: 2;
    width: 100%;
    max-width: 325px;
}

.kenapa_sipk .content .box.y {
    background-color: var(--secondInverse-shade-2);
}

.kenapa_sipk .content .box.z {
    background-color: var(--secondInverse-shade-3);
}

.kenapa_sipk .content .box.z .inner {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: inherit;
}

.kenapa_sipk .content .box.z .inner>div {
    width: 100%;
}

.kenapa_sipk .content .box.z .inner>div:nth-child(1),
.kenapa_sipk .content .box.z .inner>div:nth-child(3) {
    max-width: 225px;
}

.kenapa_sipk .content .box.z .inner>div:nth-child(2) {
    max-width: 250px;
}

.kenapa_sipk .content .details {
    display: grid;
    grid-template-columns: max-content auto;
    gap: .75rem;
    padding: .5rem;
    overflow: hidden;
}

.kenapa_sipk .content .progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: var(--root-action-fontsize);
    font-weight: 500;
    color: var(--dark-color);
    background-color: var(--white-color);
    border: 1px solid var(--lighter-color);
    border-radius: .5rem;
}

.kenapa_sipk .content .progress.active {
    border: 2px solid var(--dark-color);
}

.kenapa_sipk .content .box.x~.details .progress.active {
    border: 2px solid var(--secondInverse-shade-1);
}

.kenapa_sipk .content .box.y~.details .progress.active {
    border: 2px solid var(--secondInverse-shade-2);
}

.kenapa_sipk .content .box.z~.details .progress.active {
    border: 2px solid var(--secondInverse-shade-3);
}

.kenapa_sipk .content .text {
    width: 650px;
}

.kenapa_sipk .content .title_small {
    font-size: var(--subtitle-fontsize);
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.kenapa_sipk .content .title_small_description {
    text-align: justify;
}

/* #endregion */

/* #region Section 'Fitur' */

.fitur {
    --root-section-height: calc(100vh * 3);
    --icon-size: 60px;
    position: relative;
    width: 100%;
    height: var(--root-section-height);
}

.fitur_wrapper {
    position: sticky;
    left: 0;
    top: var(--root-header-height);
    overflow: hidden;
    width: 100%;
    height: calc(100vh - var(--root-header-height));
    z-index: var(--z-sticky);
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
}

.fitur_wrapper>.title {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: normal;
    gap: 0.5rem;
    font-weight: 600;
}

.fitur_wrapper h2 {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.fitur_wrapper h2:nth-child(1) {
    gap: 0.5rem;
}

.fitur_wrapper h2:nth-child(2)>span {
    color: var(--footer2-textColor);
}

.fitur_wrapper mark {
    z-index: 3;
}

.fitur_wrapper mark>span>span {
    padding: 0 0.4rem;
}

.fitur_wrapper .icons {
    display: flex;
    position: relative;
    gap: 0.5rem;
}

.fitur_wrapper .icon {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--alwaysWhite-color);
    border-radius: 50%;
    background: transparent;
}

.fitur_wrapper .icon.alt {
    color: var(--logo-second-color-lighter);
}

.fitur_wrapper .icon.primary {
    color: var(--alwaysWhite-color);
}

.fitur_wrapper .icon.warning {
    color: #181a1e;
}

.fitur_wrapper .icon>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitur_wrapper .icon>span {
    z-index: 2;
}

.fitur_wrapper .icon_bg_wrap {
    position: absolute;
    top: 0;
    left: calc(var(--icon-size) * -1);
    display: flex;
}

.fitur_wrapper .icon_bg {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: inherit;
    background: var(--logo-second-color-lighter);
    color: var(--alwaysWhite-color);
    z-index: 1;
}

.fitur_wrapper .icon_bg>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitur_wrapper .icon_bg.alt {
    color: var(--logo-second-color-lighter);
    background: var(--box-color-bg4);
}

.fitur_wrapper .icon_bg.primary {
    color: var(--alwaysWhite-color);
    background: var(--primary-sec-color);
}

.fitur_wrapper .icon_bg.success {
    color: #181a1e;
    background: var(--box-color-success2);
}

.fitur_wrapper .icon_bg.warning {
    color: #181a1e;
    background: var(--box-color-warning2);
}

.fitur_wrapper .content {
    overflow: hidden;
}

.fitur_wrapper .content_inner {
    --card-width: 370px;
    --card-height: max-content;
    display: grid;
    grid-template-columns: repeat(1, var(--card-width));
    grid-template-rows: repeat(auto-fit, var(--card-height));
    gap: 10rem;
    padding: 0 2rem;
}

.fitur_wrapper .content .card_wrapper {
    perspective: 1000px;
}

.fitur_wrapper .content .card {
    position: relative;
    display: grid;
    grid-template-rows: 65% 1fr;
    border-radius: 1rem;
    height: 450px;
    border: 1px solid var(--box-borderColor);
    background-color: var(--box-color-bg3);
    overflow: hidden;
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: var(--box-shadow);
    transition: box-shadow var(--transition-default) ease-in-out;
}

.fitur_wrapper .content .card .card_main {
    position: relative;
    background-image: linear-gradient(var(--box-gridColor) .1em, transparent .1em), linear-gradient(90deg, var(--box-gridColor) .1em, transparent .1em);
    background-size: 3em 3em;
}

.fitur_wrapper .content .card .card_main.sebaran_nilai,
.fitur_wrapper .content .card .card_main.grafik_progress,
.fitur_wrapper .content .card .card_main.bar_progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitur_wrapper .content .card .card_main.sebaran_nilai>div,
.fitur_wrapper .content .card .card_main.grafik_progress>div,
.fitur_wrapper .content .card .card_main.bar_progress>div {
    border-radius: 1rem;
    box-shadow: var(--box-boxContent-boxShadow);
    background: var(--box-boxContent-bg);
    transition: none;
}

.fitur_wrapper .content .card .card_main.sebaran_nilai>div,
.fitur_wrapper .content .card .card_main.grafik_progress>div,
.fitur_wrapper .content .card .card_main.bar_progress>div {
    width: 300px;
    height: 225px;
}

.fitur_wrapper .content .card .card_main.sebaran_nilai>div span,
.fitur_wrapper .content .card .card_main.sebaran_nilai>div text,
.fitur_wrapper .content .card .card_main.grafik_progress>div span,
.fitur_wrapper .content .card .card_main.grafik_progress>div tspan,
.fitur_wrapper .content .card .card_main.bar_progress>div>div:nth-child(2) h3 {
    font-size: 0.85rem;
}

.fitur_wrapper .content .card .card_main.bar_progress>div>div:nth-child(2) small {
    font-size: 0.69rem;
}

.fitur_wrapper .content .card .card_secondary {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 0.5rem;
    padding: 1rem 2rem;
    overflow: hidden;
}

.fitur_wrapper .content .card .card_secondary .title_small {
    white-space: nowrap;
    font-size: calc(var(--root-title-fontsize) * 0.675);
}

.fitur_wrapper .content .card .card_secondary .title_small_description {
    color: var(--footer4-linkColor);
}

/* #endregion */

/* #region Section 'Testimoni' */

.testimoni {
    --inner-padding: calc(var(--root-header-height) + 1rem) 0;
    --root-description-fontsize: 0.9rem;
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 1rem;
    height: 100%;
    padding: var(--inner-padding);
    border: none;
    overflow: hidden;
}

.testimoni>.container_wrap .title {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimoni>.cards {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 2rem;
    padding: 1.25rem;
    margin: 0 auto;
    overflow: hidden;
}

.testimoni>.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.25rem 1.25rem 1.25rem;
    overflow: hidden;
}

.testimoni .content>.cards {
    display: flex;
    gap: 2rem;
}

.testimoni .content>.cards:nth-child(1) {
    flex-direction: row;
}

.testimoni .content>.cards:nth-child(2) {
    flex-direction: row-reverse;
}

.testimoni .content>.cards>.card {
    min-width: 360px;
}

.testimoni .card {
    display: grid;
    grid-template-rows: 40px 1fr 55px;
    height: 260px;
    width: 360px;
    overflow: hidden;
    padding: 1.5rem;
    background-color: var(--box-boxContent-bg);
    border: 1px solid var(--box-borderColor2);
    border-radius: 1rem;
    box-shadow: var(--box-boxContent-boxShadow);
    transition: box-shadow var(--transition-default) ease-in-out;
}

.testimoni .card .stars,
.testimoni .card .user {
    padding: 0 1rem;
}

.testimoni .card .review {
    padding: 0.5rem 1rem;
}

.testimoni .card .stars {
    --star-fontsize: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--warning-color);
}

.testimoni .card .review {
    overflow: hidden;
    text-align: justify;
    font-size: var(--root-default-fontsize);
    color: var(--dark-color);
}

.testimoni .card .user {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 0.75rem;
    overflow: hidden;
}

.testimoni .card .user .avatar {
    --avatar-size: 37.5px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-color: var(--logo-second-color);
}

.testimoni .card .user .info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.testimoni .card .user .info span,
.testimoni .card .user .info small {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.testimoni .card .user .info span {
    font-weight: 500;
    font-size: var(--root-default-fontsize);
}

.testimoni .card .user .info small {
    color: var(--darkVariant2-color);
    font-size: var(--root-description-fontsize);
}

/* #endregion */

/* #region Section 'Mulai Sekarang' */

.mulai_sekarang {
    --inner-padding: calc(var(--root-header-height) + 1rem) 2rem;
    --logo-size: 128px;
    padding: var(--inner-padding);
    margin-bottom: calc(var(--root-section-margin-bottom) * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mulai_sekarang .logo {
    margin-bottom: .5rem;
}

.mulai_sekarang .logo {
    position: relative;
    width: var(--logo-size);
    height: var(--logo-size);
}

.mulai_sekarang .logo img {
    filter: drop-shadow(5px 10px 5px var(--logo-drop-shadow));
}

.mulai_sekarang .title_big {
    text-align: center;
    margin-bottom: 1.5rem;
}

.mulai_sekarang .title_big_description {
    margin-bottom: 2rem;
}

.mulai_sekarang .title_big_description .words {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0.35rem;
    font-weight: 500;
}

.mulai_sekarang .title_big_cta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 275px;
    width: 100%;
    min-width: 175px;
}

.mulai_sekarang .title_big_cta div a {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.mulai_sekarang .title_big_cta div a .icon {
    font-size: calc(0.9 * 1em);
}

/* #endregion Section 'Mulai Sekarang' */

/* #region Footer */

.footer_outter {
    --small-fontsize: .85rem;
    --brand-size: 60px;
    --line-height: 1px;
    --box-size: 32.5px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    overflow: hidden;
    font-size: var(--root-default-fontsize);
    background-color: var(--root-footer-bgColor);
    color: var(--root-footer-textColor);
}

.footer_wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer {
    position: relative;
    padding: 2.5rem 0;
}

.footer .primary a {
    color: var(--root-footer-textColor);
}

.footer .secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .primary {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1.25rem 0;
    margin: 1rem 1.5rem 0 1.5rem;
}

.footer .line {
    width: calc(100% - (2 * 1.5rem));
    height: var(--line-height);
    margin: 0 auto;
    background-color: var(--root-footer-lineColor);
}

.footer .brand_wrap {
    position: relative;
}

.footer .brand {
    flex: 0 0 60px;
    width: var(--brand-size);
    height: var(--brand-size);
    font-size: var(--root-title-fontsize);
    cursor: pointer;
}

.footer .shorcut {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    flex: 1 1 auto;
    justify-content: center;
    column-gap: 3.5rem;
}

.footer .socials {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    max-width: calc((var(--box-size) * 3) + (0.75rem * 2));
    flex: 0 0 auto;
    column-gap: 0.75rem;
}

.footer .primary:has(.socials:only-child) .socials {
    border: 1px solid red;
}

.footer .shorcut a {
    display: block;
    cursor: pointer;
}

.footer .shorcut a svg.external {
    font-size: calc(0.85 * 1em);
}

.footer .socials .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--box-size);
    height: var(--box-size);
    padding: 0.5rem;
}

.footer .secondary {
    --default-color: #9BA3B3;
    margin: 1.25rem 1.5rem 2.25rem 1.5rem;
    padding: 0.75rem 0;
    font-size: calc(1.075 * var(--root-description-fontsize));
    color: var(--default-color);
}

.footer .sublinks {
    display: flex;
    gap: 2rem;
}

.footer .sublinks a svg.external {
    font-size: calc(0.85 * 1em);
}

.footer .secondary a {
    color: var(--default-color);
}

/* #endregion */

@media (hover: hover) and (pointer: fine) {

    .navbar .nav a.link:hover {
        color: var(--root-header-textColor);
    }

    .navbar .nav a.cta:hover::before {
        transform: translateY(0%) scale(2.5);
    }

    .hero .banner a:hover .icon svg,
    .hero .banner a:focus .icon svg {
        animation: bounceUpRight 1.25s infinite;
    }

    .mulai_sekarang .title_big_cta div:last-child a:hover .icon,
    .mulai_sekarang .title_big_cta div:last-child a:focus .icon {
        animation: bounceUp 1.25s infinite;
    }

    .hero .buttons a:hover .icon,
    .hero .buttons a:focus .icon,
    .mulai_sekarang .title_big_cta div:first-child a:hover .icon,
    .mulai_sekarang .title_big_cta div:first-child a:focus .icon {
        animation: bounceRight 1.25s infinite;
    }

    .hero .buttons button:hover .icon,
    .hero .buttons button:focus .icon {
        animation: bounceDown 1.25s infinite;
    }

    .universitas .content .icons .icon:hover {
        box-shadow: none;
    }

    .universitas a:hover .arrow_right_icon,
    .universitas a:focus .arrow_right_icon,
    .universitas a:hover .signup_icon,
    .universitas a:focus .signup_icon {
        animation: bounceRight 1.25s infinite;
    }

    .fitur_wrapper .content .card:hover {
        box-shadow: none
    }

    .testimoni .card:hover {
        box-shadow: none;
    }

    .footer .primary a:hover {
        color: var(--root-footer-hoverColor);
    }

    .footer .socials .box:hover {
        color: var(--root-footer-hoverColor);
    }

    .footer .secondary a:hover {
        color: var(--root-footer-textColor);
    }

    .navbar .nav .theme:focus:not(:hover) {
        outline: 1px solid var(--logo-second-color);
    }

    .navbar .nav a.link:focus:not(:hover),
    .footer .primary a:focus:not(:hover),
    .footer .socials .box:focus:not(:hover),
    .footer .secondary a:focus:not(:hover) {
        outline: 1px solid var(--root-footer-hoverColor);
    }
}

@media screen and (max-height: 660px) {
    .kenapa_sipk {
        --root-section-height: 100%;
    }
}

@media screen and (max-width: 1079px) {
    .kenapa_sipk {
        --root-section-height: 100%;
    }

    .kenapa_sipk .content .overlay {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: var(--z-tooltip);
    }

    .kenapa_sipk .content,
    .kenapa_sipk .content.active_1,
    .kenapa_sipk .content.active_2,
    .kenapa_sipk .content.active_3 {
        grid-template-columns: initial;
    }

    .kenapa_sipk .content,
    .kenapa_sipk .content.active_1,
    .kenapa_sipk .content.active_2,
    .kenapa_sipk .content.active_3 {
        grid-template-rows: repeat(3, 625px);
    }

    .kenapa_sipk .content .wrapper {
        display: grid;
        grid-template-rows: 470px max-content;
        gap: 1rem;
        cursor: pointer;
    }

    .kenapa_sipk .content .details {
        padding: 1rem .5rem;
    }
}

@media screen and (max-width: 1023px) {

    .universitas {
        --inner-padding: 2rem 0;
    }

    .universitas {
        gap: 2rem;
    }

    .universitas .layout {
        flex-direction: column-reverse;
        gap: 0;
    }

    .universitas .title {
        margin-bottom: 0.5rem;
    }

    .universitas .title_description {
        margin-bottom: 2.5rem;
    }

    .fitur {
        --root-section-height: 100%;
        padding: calc(var(--root-header-height) + 1rem) 0;
    }

    .fitur_wrapper {
        position: relative;
        left: initial;
        top: initial;
        z-index: initial;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding-bottom: 5rem;
    }

    .fitur_wrapper .content .card {
        width: var(--card-width);
    }

    .fitur_wrapper .content_inner {
        justify-content: center;
        padding: 0;
        gap: 5rem;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 100%;
        height: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar {
        width: 100%;
        height: 100%;
        justify-content: normal;
        align-items: normal;
    }

    .navbar .nav {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0.5rem 1.75rem;
        justify-content: space-between;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid var(--root-header-borderColor);
    }

    .navbar .nav a,
    .navbar .nav a.cta {
        border-radius: 0.5rem;
    }

    .hero {
        --title-maxWidth: 630px;
    }

    .universitas {
        --icon-size: 65px;
        --scrolling-icon-size: 27.5px;
    }

    .kenapa_sipk .content .text {
        width: 100%;
    }

    .fitur_wrapper .content .card {
        grid-template-rows: 1fr max-content;
    }

    .fitur_wrapper .content .card .card_secondary {
        padding: 2rem;
    }

    .fitur_wrapper .content .card .card_secondary .title_small {
        font-size: calc(var(--root-title-fontsize) * 0.75);
    }

    .mulai_sekarang {
        --logo-size: 96px;
    }

    .footer {
        padding: 2rem 0;
    }

    .footer .primary {
        gap: 1.25rem;
        padding-top: 0;
        padding-bottom: 1.25rem;
        margin: calc(var(--brand-size) + 0.75rem) 1.5rem 0 1.5rem;
    }

    .footer .brand_wrap {
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer .shorcut {
        justify-content: start;
        column-gap: 1.75rem;
    }
}

@media screen and (max-width: 599px) {
    .hero {
        --title-maxWidth: none;
    }

    .hero .container_wrap {
        padding: 0 var(--root-base-padding);
    }

    .hero .banner {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .hero .title {
        justify-content: center;
    }

    .hero .title_description {
        margin: 0 auto 1rem auto;
        text-align: center;
    }

    .hero .buttons {
        justify-content: center;
        gap: 1.25rem;
        margin-bottom: 2rem;
    }

    .navbar .nav .wrap.center {
        display: none;
    }
}

@media screen and (max-width: 524px) {
    .hero .mockup_3d {
        transform: scale(1) rotateX(47deg) rotateY(30deg) rotate(325deg);
    }

    .footer .primary {
        flex-direction: column;
        padding: 0;
    }

    .footer .shorcut {
        justify-content: center;
    }

    .footer .socials {
        gap: 0.5rem;
        max-width: none;
        justify-content: center;
    }

    .footer .line {
        display: none;
    }

    .footer .secondary {
        flex-direction: column-reverse;
        gap: 3rem;
        margin: 1.5rem 1.5rem 0 1.5rem;
        padding: 0;
    }

    .footer .sublinks {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2rem;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 449px) {
    .fitur_wrapper>.title {
        gap: 0;
    }

    .fitur_wrapper mark>span>span {
        padding: 0 0.2rem;
    }

    .fitur_wrapper .icons {
        display: none;
    }

    .fitur_wrapper .icon {
        display: none;
    }
}

@media screen and (max-width: 424px) {

    .fitur_wrapper .content .card {
        height: 400px;
    }

    .fitur_wrapper .content_inner {
        --card-width: 320px;
    }

    .fitur_wrapper .content .card .card_main.sebaran_nilai>div,
    .fitur_wrapper .content .card .card_main.grafik_progress>div,
    .fitur_wrapper .content .card .card_main.bar_progress>div {
        width: 250px;
        height: 200px;
    }

    .fitur_wrapper .content .card .card_main.sebaran_nilai>div>div>div:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 374px) {
    .universitas .title_cta {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 359px) {

    .navbar .nav .overlay .logo,
    .navbar .nav .overlay a.cta {
        display: block;
    }

    .navbar .nav .wrap .logo,
    .navbar .nav .wrap a.cta {
        display: none;
    }

    .hero .buttons {
        flex-direction: column;
        align-items: center;
    }

    .fitur_wrapper {
        gap: 2.5rem;
    }

    .fitur_wrapper .content_inner {
        --card-width: 100%;
        gap: 1rem;
    }

    .fitur_wrapper .content .card {
        height: max-content;
    }

    .fitur_wrapper .content .card {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }

    .fitur_wrapper .content .card .card_main {
        background: transparent;
    }

    .fitur_wrapper .content .card .card_secondary {
        padding: 2rem 0;
    }

    .fitur_wrapper .content .card .card_main.sebaran_nilai,
    .fitur_wrapper .content .card .card_main.grafik_progress,
    .fitur_wrapper .content .card .card_main.bar_progress {
        height: 200px;
    }

    .fitur_wrapper .content .card .card_main.sebaran_nilai>div,
    .fitur_wrapper .content .card .card_main.grafik_progress>div,
    .fitur_wrapper .content .card .card_main.bar_progress>div {
        min-width: 225px;
        width: 100%;
    }
}

@media screen and (max-width: 319px) {

    .footer .shorcut,
    .footer .sublinks {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        --container-width: 1280px;
        max-width: var(--container-width);
        margin: 0 auto;
    }

    .kenapa_sipk {
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
    }

    .kenapa_sipk .content,
    .kenapa_sipk .title {
        max-width: 1200px;
    }

    .kenapa_sipk .title {
        margin-left: auto;
        margin-right: auto;
    }

    .kenapa_sipk .content {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    .hero .mockup_container {
        --mockup-width: 1440px;
    }
}