.wrapper {
    display: grid;
    margin-top: 5.35rem;
    padding: 0 1.5rem;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.insight {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}

.secondary {
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        padding: 0;
        grid-template-columns: auto 23rem;
        gap: 2rem;
    }

    .secondary {
        margin-top: 4rem;
    }
}

@media screen and (min-width: 1280px) {
    .insight {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
        height: max-content;
    }
}