.section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--landing-body);
}

.wrapper {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.cards {
    display: flex;
    gap: 2.5rem;
    height: 100vh;
    padding: 72px 0 16px 0;
}

.card {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    color: var(--landing-copy);
}

.card .tambah_hapus {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 1rem;
}

.card .tambah_hapus .highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
}

.card .tambah_hapus .highlight .box {
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.card .tambah_hapus .highlight .box .text_box {
    position: relative;
    width: max-content;
    height: max-content;
    font-weight: 600;
    color: var(--landing-copyInverse);
}

.card .tambah_hapus .highlight .box .text_box span {
    position: relative;
    z-index: 2;
    font-size: inherit;
    color: inherit;
    border-radius: inherit;
    padding: inherit;
}

/* #region font-size, border-radius and padding should be adjust in higher viewport [IMPORTANT] */
.card .tambah_hapus .highlight .box .text_box.tambah {
    z-index: 6;
    transform-origin: bottom left 1.5rem;
    font-size: 1.2rem;
    border-radius: calc(0.25 * 1.2rem);
    padding: calc(0.25 * 1.2rem);
}

.card .tambah_hapus .highlight .box .text_box.tambah span {
    background-color: var(--primary-color);
}

.card .tambah_hapus .highlight .box .text_box.hapus {
    z-index: 5;
    margin: .25rem 0 0 1.25rem;
    font-size: 1.35rem;
    border-radius: calc(0.25 * 1.35rem);
    padding: calc(0.25 * 1.35rem);
}

.card .tambah_hapus .highlight .box .text_box.hapus span {
    background-color: var(--danger-color);
}

.card .tambah_hapus .highlight .box .text_box.apapun {
    z-index: 4;
    margin: .25rem 0 0 2.5rem;
    font-size: 1.5rem;
    border-radius: calc(0.25 * 1.5rem);
    padding: calc(0.25 * 1.5rem);
}

.card .tambah_hapus .highlight .box .text_box.apapun span {
    background-color: #ffd274;
}

/* #endregion */

.card .tambah_hapus .highlight .box .text_box:before {
    background-color: var(--landing-body);
    content: "";
    height: 100%;
    left: .925rem;
    position: absolute;
    top: .925rem;
    width: 100%;
    opacity: 0.4;
    z-index: 1;
    border-radius: inherit;
}

.card .tambah_hapus .highlight .box .folding {
    position: absolute;
    transform-origin: 200% -200%;
}

.card .tambah_hapus .highlight .description {
    padding: .5rem;
}

.card .tambah_hapus .demo {
    position: relative;
    overflow: hidden;
}

.card .tambah_hapus .demo.medium {
    padding: 4rem 2rem;
}

.card .tambah_hapus .demo.large {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.card .tambah_hapus .demo .grid_container {
    display: grid;
}

.card .tambah_hapus .demo.medium .grid_container {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1.25rem;
}

.card .tambah_hapus .demo.large .grid_container {
    position: relative;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card .tambah_hapus .demo .matkul {
    background: var(--landing-foreground);
    padding: 1.4rem 1.8rem;
    border: 1px solid var(--landing-border);
    border-radius: 1.2rem;
}

.card .tambah_hapus .demo .matkul .layout {
    color: var(--landing-copyLighter);
    font-weight: 500;
}

.card .tambah_hapus .demo .matkul .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: var(--landing-copyInverse);
    border-radius: 50%;
    background-color: #FF6341;
}

.card .tambah_hapus .demo .matkul .icon.tambah {
    background-color: var(--primary-color);
}

.card .tambah_hapus .demo .matkul .icon.hapus {
    background-color: var(--danger-color);
}

.card .tambah_hapus .demo .matkul .nama {
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

.card .tambah_hapus .demo.medium .matkul {
    height: 80px;
}

.card .tambah_hapus .demo.medium .matkul .layout {
    display: grid;
    grid-template-columns: 2.85rem auto 2.85rem;
    gap: 1rem;
}

.card .tambah_hapus .demo.medium .matkul .nama {
    margin: auto 0;
}

.card .tambah_hapus .demo.medium .matkul .icon {
    font-size: 1.7rem;
}

.card .tambah_hapus .demo.medium .matkul .details {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.card .tambah_hapus .demo.large .matkul {
    height: 80px;
}

.card .tambah_hapus .demo.large .matkul .layout {
    display: grid;
    grid-template-columns: 2.85rem auto 2.85rem;
    gap: 1rem;
}

.card .tambah_hapus .demo.large .matkul .nama {
    margin: auto 0;
}

.card .tambah_hapus .demo.large .matkul .icon {
    position: relative;
    font-size: 1.7rem;
    overflow: hidden;
}

.card .tambah_hapus .demo.large .matkul .details {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}