.section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--landing-body);
}

.wrapper {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.cards {
    display: flex;
    gap: 2.5rem;
}

.card {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: var(--landing-copy);
    padding: calc(72px + 2rem) 2rem 2rem 2rem;
}

.card .tambah_hapus {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 1rem;
}

.card .tambah_hapus .highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
}

.card .tambah_hapus .highlight .box {
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.card .tambah_hapus .highlight .box .folding {
    position: absolute;
    transform-origin: 200% -200%;
}

.card .tambah_hapus .highlight .description {
    padding: .5rem;
}

.card .tambah_hapus .demo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}