.section {
    position: relative;
    width: 100%;
    height: calc(var(--card-count) * 300vh);
    background-color: var(--landing-body);
    --base-size: 35px;
    --base-padding: 2rem;
    --progress-width: 4rem;
    --progress-height: 100%;
    --progress-size: var(--base-size);
}

.wrapper {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: calc(2rem + 72px) 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: max-content 1fr;
}

.cards {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: calc(2rem + 72px) 2rem 2rem calc(2rem + var(--progress-width));
    display: grid;
    grid-auto-rows: calc(300vh - (2rem + 72px + 2rem));
}

.cards .card {
    position: relative;
}

.cards .card .start,
.cards .card .center,
.cards .card .end {
    position: absolute;
    left: 0%;
    width: 100%;
    height: calc(100vh - 72px);
}

.cards .card .start {
    top: 0%;
    transform: translate(-0%, -0%);
}

.cards .card .center {
    top: 50%;
    transform: translate(-0%, -50%);
}

.cards .card .end {
    bottom: 0%;
    transform: translate(-0%, 0%);
}

.progress {
    position: relative;
    z-index: 999;
    width: var(--progress-width);
    height: var(--progress-height);
}

.progress .circles {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: var(--progress-size);
    padding: var(--base-padding) 0;
}

.progress .circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--landing-copyInverse);
    color: var(--landing-copyLightInverse);
    cursor: pointer;
}

.progress .circle .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.4em;
}

.progress .lines {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: var(--base-padding) 0;
}

.content {
    position: relative;
}

.content .titles {
    --title-size: 24px;
    --description-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--title-size);
    font-weight: 700;
    color: var(--landing-copy);
    padding: var(--base-padding) 0;
}

.content .title {
    display: flex;
    position: relative;
    padding: 0 1rem;
    height: var(--base-size);
}

.content .title .space {
    width: 10px;
    height: 100%;
}

.content .title .description {
    position: absolute;
    overflow: hidden;
    top: calc(var(--base-size) + 0.25rem);
    left: 0%;
    width: 100%;
    height: max-content;
    padding: 0 1rem;
    color: var(--landing-copyLighter);
    font-size: var(--description-size);
    font-weight: 500;
    text-align: justify;
}

.content .title .description .text {
    display: inline-block;
}

.intro {
    --intro-size: 36px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: calc(2rem + 72px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .text {
    font-size: var(--intro-size);
    color: var(--landing-copy);
}