.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: yellow;
}