.section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--landing-body);
}

.section.tambah_hapus {
    padding: 1rem;
}

@media screen and (min-width: 1280px) {
    .section.tambah_hapus {
        padding: 0;
    }
}