.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    background: #252525;
    border-radius: .5rem;
    font-size: 1rem;
    color: var(--landing-copyLighter);
}

.container>* {
    border-bottom: 1px dotted #444444;
}

.container>*:last-child {
    border-bottom: none;
}

.title {
    position: relative;
    padding: .75rem;
    font-size: .85em;
    text-align: center;
    color: var(--landing-copyLight);
    border-bottom: 1px solid #444444;
}

.matkul {
    display: grid;
    grid-template-columns: minmax(175px, 1fr) 40px 60px;
    height: 50px;
    gap: .5rem;
    font-size: .75em;
    padding: 0 1.25rem;
}

.matkul .sks {
    justify-self: center;
    align-self: center;
}

.matkul .nama {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.matkul .text {
    overflow: hidden;
    text-overflow: clip;
}

.matkul .nilai {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    color: var(--primary-sec-color);
    background: var(--box-color-primary);
}

.matkul .nilai.success {
    color: var(--success-sec-color);
    background: var(--box-color-success);
}

.matkul .nilai.warning {
    color: var(--warning-sec-color);
    background: var(--box-color-warning);
}

.matkul .nilai.danger {
    color: var(--danger-sec-color);
    background: var(--box-color-danger);
}

.matkul .nilai.crimson {
    color: var(--crimson-sec-color);
    background: var(--box-color-crimson);
}

.swiper {
    width: 100%;
    height: 100%;
}