.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--landing-copy);
    padding: 3rem;
}

.layout {
    display: grid;
    grid-template-rows: 150px 1fr;
    overflow: hidden;
}

.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
}

.showcase {
    display: grid;
    grid-template-rows: 225px max-content;
    overflow: hidden;
    place-content: center;
}

.showcase .carousel {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.swiper {
    width: 100%;
    height: 100%;
    cursor: grab;
}

.swiper_slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.item img {
    max-width: 60%;
}

.item img.unpad {
    max-width: 65%;
}

.item img.telkom {
    max-width: 55%;
}

.showcase .list {
    display: flex;
    justify-content: center;
    align-items: center;
}